

.modal-wrapper {

    display: flex;
    justify-content: center;
   
}

.checkout-title-container {
    border-bottom: 1px solid #9999
}

.ticket-checkout-image {
    max-width: 100%;
}

.ticket-info-checkout, .ticket-checkout-sub, .ticket-checkout-fees, .ticket-checkout-total {
    display: flex;
    justify-content: space-between;
}

.main-checkout {
    width: 500px;

}

.summary-checkout {
    width: 350px;
    border-left: 1px solid #5555;
}

.checkout-btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #5555;
    margin-top: 1rem;
}

.checkout-btn {
    margin: 1.5rem 0;
    padding: .5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color:#2e4866;
    color: #fff;

}

.checkout-title {
    text-align: center;
}

.disable-btn {
     margin: 1.5rem 0;
    padding: .5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color:#73869c;
    color: #fff;
    cursor: not-allowed;
}