
/* -------------------------- */
/* -----------MAIN------------ */
/* -------------------------- */


.main-dashboard {
    display: flex;
    width: 100%;
}


/* -------------------------- */
/* --------CUSTOMERS--------- */
/* -------------------------- */

.customers-container {
    width: 70%;
}

/* -------------------------- */
/* --------EVENTS--------- */
/* -------------------------- */

.table-events {
    width: 100%;
}

.eventsdash-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    flex-grow: 2;
}

.eventsdash-subnavbar {
    display: flex;
    justify-content: space-between;
}