.nav-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    height: 5vh;
}

.user-info {
    display: flex;
    border: 1px solid #333;
}

.user-info > div  {
    border: 2px dashed red;
    margin: 0 1rem;

}