* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.event-wrapper {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    
}

.main-wrapper {
    display:flex;
    flex: 1;
}

.events-main-info {
    display: flex;
    align-items: flex-start;
    margin: 1rem;
}

.event-img-container {
    width: 40vw;
    margin-bottom: 2rem;
}

.event-img {
   object-fit: contain;
    border-radius: 10px;
    width: 100%;
    height: 100%;

}

.event-info-desc {
    width: 40%;
    margin-left: 1rem;
}

.event-tickets-qt {
    display: flex;
}

.tickets-main {
    border: 2px solid #3333;
    margin: 1rem 3rem;
}

.event-type {
    width: fit-content;
    padding: .3rem .5rem;
    border-radius: 20px;
    border: 2px solid #2e4866;
    background-color: #2e4866;
    color: #fff;
    text-decoration: none;
}
.event-type:hover {
    color: #2e4866;
    background-color: #fff;
}

.label {
    border: 1px solid black;
} 

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    border: 1px solid red;
}

.readmore-btn {
    padding: .5rem;
    cursor: pointer;
    color: #2e4866;
    transition: .3s;
}

.readmore-btn:hover {
    font-weight: 500;
}