.event-layout-container {
    display: flex;
    justify-content: space-between;
}

.event-layout-content {
    width: 60vw;
    height: auto;
}

.center {
    text-align: center;
    margin: 1rem 0;
}