* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
     
}

.logo {
    max-width: 10vw;
}

.container {
    margin: 0 auto;
    width: 90%;
}

.flex {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: baseline;
    /* width: 70%; */
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    margin:  0 auto;
    padding: 0 1rem;
    /* position: -webkit-sticky;
    position:sticky;
    top:0; */
    z-index: 2;
    background-color: #fff;
   
}

.searchbar {
    padding: .2 3rem;
    border: 1px solid black;
}

.header-right > *{
    margin: 0 .4rem;
    text-decoration: none;
    color: #2e4866;
}

.header-right {
    display: flex;
}

.line {
    margin: 0%;
}

.business-link {
    font-weight: bold;
    font-size: .9rem;

}

.business-link:hover {
    color: #000;
    opacity: 80%;
}

.login-btns > * {
    margin: 0 .3rem;
    color: #000;
   
}

.login-btn {
    border: .5px solid rgb(200, 200, 200);
    border-radius: 20px;
    font-size: .9rem;
    padding: .5rem 1rem;
    transition: .3s;
}

.login-nav {
    display: flex;
    flex-direction: column;
}

.login-nav-container {
    position: relative;
}

.login-nav-wrapper {
    position: absolute;
    right: 0;
    padding: 0 10px;
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
    z-index: 3;
}

.btn-select-city {
    border: none;
    border-radius: 20px;
    background-color: #fff;
    margin-left: 1rem;
    padding:  .3rem 1rem;
    transition: .3s;
}

.logged-user-btn {
    background-color: #fff;
    border: none;
    border: 1px solid #000;
    border-radius: 20px;
    padding: .4rem;
    transform: translateY(-6px);
    font-size: .9rem;
}

.btn-select-city:hover, .login-btn:hover {
    background-color: #eaeaea;

}

.login-btn:hover  {
    color: #000;

}

.text-select-city {
    margin-left: .2rem;

}