
.subnav-links {
  font-size: 1.2rem;
  text-decoration: none;
  color: #2e4866;
}

.active {
  color: #2e4866;
  font-weight: bold;  
}

.subnav-link-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1rem 0;

}
