
.subnav-links {
  font-size: 1.2rem;
  text-decoration: none;
  color: #2e4866;
  margin-bottom: .5rem;
}

.active {
  color: #2e4866;
  font-weight: bold;  
}

.subnav-link-container {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
 
  /* margin-bottom: 1rem; */
}

.nav {
  margin: 1rem 0;
 
}
